@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";

@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource-variable/lexend";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: #fbfdfe;
	--foreground: oklch(0.32 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.35 0.1 267.96);
	--primary-foreground: oklch(0.985 0 0);
	--primary-support: oklch(0.88 0.05 229.77);
	--primary-support-foreground: var(--primary);
	--secondary: oklch(0.91 0.11 91.55);
	--secondary-foreground: var(--primary);
	--tertiary: oklch(0.43 0.1 154.12);
	--tertiary-foreground: oklch(1 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--neutral: oklch(0.99 0.01 84.58);
	--neutral-foreground: var(--primary);
}

@theme inline {
	--font-sans: "Lexend Variable", sans-serif;
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-default: 10px;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-tertiary: var(--tertiary);
	--color-tertiary-foreground: var(--tertiary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-neutral: var(--neutral);
	--color-neutral-foreground: var(--neutral-foreground);
	--color-discord: #7289da;
	--color-whatsapp: #25d366;
}

@layer base {
	* {
		@apply border-border outline-ring/50 text-pretty;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@theme {
	/* Background */
	--color-background: #eff7ff;

	/* Primary */
	--color-primary-100: #ddecfa;
	--color-primary-200: #bad9f5;
	--color-primary-300: #97c5f0;
	--color-primary-400: #73b2eb;
	--color-primary-500: #509ee6;
	--color-primary-600: #2c8be0;
	--color-primary-700: #1d76c7;
	--color-primary-800: #1861a4;
	--color-primary-900: #134c81;
	--color-primary-1000: #0d375d;

	/* Secondary */
	--color-secondary-100: #b2f1fa;
	--color-secondary-200: #8beaf7;
	--color-secondary-300: #64e3f4;
	--color-secondary-400: #3eddf2;
	--color-secondary-500: #17d6ef;
	--color-secondary-600: #0eb8ce;
	--color-secondary-700: #0c95a8;
	--color-secondary-800: #097381;
	--color-secondary-900: #07545e;
	--color-secondary-1000: #04353b;

	/* Neutral */
	--color-neutral-100: #ffffff;
	--color-neutral-200: #e8e8e8;
	--color-neutral-300: #d2d2d2;
	--color-neutral-400: #bbbbbb;
	--color-neutral-500: #a4a4a4;
	--color-neutral-600: #8e8e8e;
	--color-neutral-700: #777777;
	--color-neutral-800: #606060;
	--color-neutral-900: #4a4a4a;
	--color-neutral-1000: #333333;

	/* Tertiary */
	--color-tertiary-100: #d3bfec;
	--color-tertiary-200: #be9fe3;
	--color-tertiary-300: #a880d9;
	--color-tertiary-400: #9260d0;
	--color-tertiary-500: #7c40c7;
	--color-tertiary-600: #6832ab;
	--color-tertiary-700: #55298b;
	--color-tertiary-800: #43206d;
	--color-tertiary-900: #31174f;
	--color-tertiary-1000: #1e0f32;

	/* Red */
	--color-red-100: #fb3748;
	--color-red-200: #d00416;

	/* Yellow */
	--color-yellow-100: #ffdb43;
	--color-yellow-200: #dfb400;

	/* Green */
	--color-green-100: #84ebb4;
	--color-green-200: #1fc16b;

	/* Primary Navy */
	--color-primary-navy-700: #0479ce;
	--color-primary-navy-800: #045ca0;
}

.dark {
	--sidebar: hsl(240 5.9% 10%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(224.3 76.3% 48%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(240 3.7% 15.9%);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(240 3.7% 15.9%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
